{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.6.4"
      }
    ]
  ],
  "plugins": [
    "@vue/babel-plugin-jsx",
    [
      "@babel/transform-typescript",
      {
        "isTSX": true,
        "allowExtensions": true
      }
    ]
  ],
  "exclude": ["node_modules/**"]
}
